{% extends "menu.html" %}

{% block pagename %}
    <h1>Регистрация</h1>
{% endblock %}

{% block menu %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h2>{{ info.error }}</h2>
    <form method="post">
        {% csrf_token %}

        <label for="first_name">Имя</label>
        <input type="text" id="first_name" name="first_name" maxlength="30" placeholder="Введите имя" required>

        <label for="patronymic">Отчество</label>
        <input type="text" id="patronymic" name="patronymic" maxlength="30" placeholder="Введите отчество" required>

        <label for="family">Фамилия</label>
        <input type="text" id="family" name="family" maxlength="30" placeholder="Введите фамилию" required>
        <br>
        <br>
        <label for="city">Город</label>
        <input type="text" id="city" name="city" maxlength="30" placeholder="Введите ваш город" required>

        <label for="age">Возраст</label>
        <input type="text" id="age" name="age" maxlength="3" placeholder="Введите ваш возраст" required>
        <br>
        <br>
        <label for="password">Пароль</label>
        <input type="text" id="password" name="password" minlength="8" placeholder="Введите пароль" required>

        <label for="repeat_password">Повтор пароля</label>
        <input type="text" id="repeat_password" name="repeat_password" minlength="8" placeholder="Повторите пароль" required>
        <br>
        <br>
        <button type="submit">Зарегистрироваться</button>
        <br>
        <br>
    </form>
    <button><a href="/">Вернуться на главную страницу</a></button>

    <h2 align="center">{{ uZr }}</h2>
{% endblock %}